/* //////////// TYPOGRAPHY & HEADINGS ////////// */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Scope One', serif;
    font-weight: 400;
}

body { font-family: 'Hind', sans-serif }

/* //////////// MAIN LOGO ///////////// */

.main-logo { cursor: pointer }
.main-logo h1 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 70px;
    margin:5px;
}
.main-logo h2 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size:29px;
    margin:0;
}
.main-logo h1, .main-logo h2 { line-height: 1 }
.main-logo .separator {
    width:50px;
    margin: auto;
    margin-top:2em;
    border-top:1px solid #444444;
}

.main-logo-sm h1{
    font-size: 30px;
    margin-top: 10px;
}
.main-logo-sm h2 {
    font-size: 15px;
}
.main-logo-sm .separator {
    margin-top: .9em;
}

/* /////////// SECTION HEADINGS //////////// */

.section-heading {
    font-size:30px;
    margin:0;
    margin-bottom: -10px;
}