/* //////////// TYPOGRAPHY & HEADINGS ////////// */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Scope One', serif;
    font-weight: 400;
    margin: 0px;
}

body { font-family: 'Hind', sans-serif }

h1 {
    font-size:42px;
}
h2 {
    font-size:34px;
}
h3 {
    font-size:26px;
}
h4 {
    font-size:21px;
}
h5 {
    font-size:17px;
}

p {
    color: #333;
}

a { 
    text-decoration: none;
    color: #4183c4
}
p a:hover { text-decoration: underline }

blockquote {
    border-left: 4px solid #8282b1;
    margin: 0 0 0 1em;
    padding-left: 1em;
    font-style: italic;
    color: #66617f;
}
blockquote > p {
    color: #66617f;
}

/* //////////// MAIN LOGO ///////////// */

.main-logo { cursor: pointer }
.main-logo h1 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 70px;
    margin:5px;
}
.main-logo h2 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size:29px;
    margin:0;
}
.main-logo h1, .main-logo h2 { line-height: 1 }
.main-logo .separator {
    width:50px;
    margin: auto;
    margin-top:2em;
    border-top:1px solid #444444;
}

.main-logo-topbar h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 28px;
    text-align: left;
    margin: .8em 0 .4em 0.5em;
}
.main-logo-topbar small {
    font-size: 24px;
    opacity: 0.6;
}

/* /////////// SECTION HEADINGS //////////// */

.section-heading {
    font-size:30px;
    margin:0;
    margin-bottom: -10px;
}

/* ////////// CODE /////////////// */

code {
    font-family: "Droid Sans Mono";
    font-size: 13px;
}

pre code {
    background: #2c4c5e;
    color: #ececec;
    display: block;
    padding: 0em 1.5em;
    line-height: 1.5;
    border-radius: 3px;
}
p code {
    display: inline-block;
    padding: 0.1em .7em;
    border-radius: 4px;
    background-color: rgba(221, 221, 221, 0.5)
}